<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add  key="BingToken" value="PGgXDxXtbqJFb22FYOW4~V9ZWj-mMArtwhcHO7OXOyA~Amvufht9v-dLEV-Fp360l5Jk0Lwhvc8UUO9DNGeO0BMQj3ziwsNsDQADV1M-iewb"  />
		<add  key="ServerIp" value="192.168.1.4"/>
	</appSettings>
	
	
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
		
    </startup>
</configuration>